body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #ff7e5f, #feb47b);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 3em;
    background-color: white;
    width: 700px;
    margin: auto;
    margin-top: 20px;
    padding: 10px 5px;
    border-radius: 50px;
}

p {
    font-size: 1.5em;
}

#genBtn {
    padding: 10px 20px;
    font-size: 1.5em;
    border-radius: 20px;
    margin-top: 30px;
}

.genSettings {
    background-color: white;
    width: 500px;
    padding: 20px 0px;
    margin: auto;
    margin-top: 80px;
    border-radius: 20px;
}

.genSettings h3 {
    font-size: 1.5em;
    position: relative;
    bottom: 10px
}

#settings {
    text-align: left;
    margin-left: 30px;
}

#displayNum {
    background-color: white;
    width: 500px;
    padding: 20px 0;
    margin: auto;
    margin-top: 40px;
    border-radius: 20px;
    border: 5px solid;
}